* {
  box-sizing: border-box;
}
body { 
background-color: lightblue;
}
h2 {
color: Red;
}
p {
font-family: Arial;
font-size: 20px;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
}
